body{
  margin: 0;
  padding: 0;
}

.container{
  width: 640px;
  display: grid;
  grid-template-rows: 25% auto;
  margin-bottom: 20px;
}

.grid-gallery{
  
  display: grid;
  padding-left: 300px;
  width: 500px;
  grid-template-columns: 25% 25% auto;
  grid-template-rows:25% 25% auto;
  grid-row-gap: 30%;
  grid-column-gap: 20%;
}


.title{
  padding: 10px ;
  padding-left: 300px;
  font-size: 50px;
  text-align: center;
  font-family: 'Marck Script', cursive;
}

.rectangle{
  width: 90px;
  height: 10px;
  background: black;
  position: relative;
  bottom: 40px;
}

.name{
  position: relative;
  left: 140px;
  top: -210px;
  color: #C33F58;
  font-family: 'Berkshire Swash', cursive;
}

